@using Application.Common.Dtos.WikiPageDtos;
@using Application.Common.Models;

@model PaginatedList<WikiPageDto>

@{
    ViewData["Title"] = "Wiki Pages";
}

<div class="list-group mt-3">
    @foreach (var wikiPage in Model.Items)
    {
        <a href="/Wiki/Page/@wikiPage.Id" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-dark">@wikiPage.Title</h5>
                <small class="text-muted">@wikiPage.CreatedAt.ToString("yyyy-MM-dd")</small>
            </div>
        </a>
    }
</div>
